

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    
    <title>Error 404</title>
</head>
<body>
    
    <div style="text-align: center;">
    <h1 style="font-size: 200px; padding: 0px;">404</h1>
    <h2>  ذَٰلِكَ بِمَا قَدَّمَتْ يَدَاكَ وَأَنَّ اللَّهَ لَيْسَ بِظَلَّٰمٍ لِّلْعَبِيدِ (10) <span style="font-size: 20px;">الحج</span>  </h2>
    </div>
    
    
{{!-- <script src="/public/play.js"></script> --}}
</body>
</html> 