body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1 {
  color: rgb(150, 241, 3);
}
.btn {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background-color: #4caf50;
  color: white;
}
.bg {
  background-image: url("./imgs/nature.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #009914;
  border-style: solid;
  border-radius: 15px;
}

.button:hover {
  background-color: #07610a;
}

.button:active {
  background-color: #004d17;
  transform: translateY(4px);
}

input[type="text"] {
  width: 125px;
  padding: 7px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 10;
}

#nButton {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3c5c41;
  border-style: solid;
  border-radius: 15px;
}

#guess {
  cursor: pointer;
}
#guess:hover {
  color: blue;
}

#test {
  display: none;
}

#random-wrapper {
  position: fixed;
  top: 80%;
  right: 45%;
  margin: 0 auto;
  justify-content: center;
  display: grid;
}
@media screen and (max-width: 800px) {
  #idiocy {
    font-size: 25px;
  }
  #verse {
    font-size: 25px;
  }
  #random-wrapper{
    right: 40%;
  }
  #submit-wrapper{
    right: 30%
  }
}

/* 
firworsk...................:# 
  */

